/** Import font **/
@font-face {
    font-family: acumin-pro-bold;
    src: url(../fonts/acumin-pro/Acumin-BdPro.otf);
    font-weight: bold;
}

@font-face {
    font-family: acumin-pro-regular;
    src: url('../fonts/acumin-pro/Acumin-RPro.otf');
}

/** Load class ***/

@media all and (min-width:1200px) {
  .padding-50{
    padding: 50px;
  }
  .padding-30{
    padding: 30px;
  }
  .padding-15{
    padding: 15px;
  }

  .padding-vertical-200{
    padding-top:96px ;
  }
  .padding-vertical-50{
    padding-top:50px ;
  }

  .padding-vertical-30{
    padding:30px 0;
  }

  .padding-vertical-15{
    padding:15px 0;
  }

  .margin-vertical-50{
    margin: 50px 0 ;
  }

  .margin-vertical-30{
    margin:30px 0;
  }

  .margin-vertical-15{
    margin:15px 0;
  }
}
.center {
text-align: center;
}

h2 {
    font-family: 'acumin-pro-bold' !important;
    color: #685EB4 !important;
    text-transform: uppercase !important;
}
#page {
    font-family: 'acumin-pro-regular' !important;
}
.my-btn {
    background-color: #FED500 !important;
    border-color: #FED500 !important;
    border-radius: unset !important;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
}

.my-btn:hover,.my-btn:focus {
    background-color: #685EB4 !important;
    border-color: #685EB4 !important;
    border-radius: unset !important;
    padding-right: 4rem !important;
    padding-left: 4rem !important;
    color: #fff !important;
}
#full_footer img {
    margin: 0 7px;
}
.bold{
  font-weight: bold;
}

.ready-block {
    text-align: center;
    background: #F8F8FB;
}

.questions {
    background: #3618A0;
}

.questions > h2 {
    color: #fff !important;
}

.inside_questions {
  background-color: #fff;
  margin: 2rem 0;
  padding: 2rem;
  font-size: 19px;
  border-radius: 1rem;
  width: 70%;
  margin-left: 200px;
}

.questions a {
    color: #000;
}

.time-lorem .col-lg-6:first-child {
    text-align: center;
}
.time-lorem  {
    background-color: #F8F8FB;
    margin-bottom: 50px;
}


.time-lorem .col-lg-6:first-child img {
    width: 52px !important;
    height: auto !important;
    margin:20px 0;
}

.time-lorem .italic {
    color: #4E35AA;
    font-size: 31px;
}

.italic {
    font-style: italic;
}

.time-lorem .rotate img {
    transform: rotate(180deg);
}
.flexslider{
  border: 0px !important;
}

div#header {
    background: #F8F8FB;
}
div#header span.site-name {
    padding: 8px;
    font-size: 20px;
    color: #FF7448;
    font-weight: bold;
}
ul#superfish-1 {
    margin-top: 34px;
    background: #fff;
}
ul#superfish-1 li {
    background-color: transparent;
}
ul#superfish-1 li a, ul#superfish-1 li span {
    border: 0;
    color: #000;
    margin: 0 3rem;
}
ul#superfish-1 li.active-trail a.active {
    background: #3618A0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em 1.8em;
}
ul#superfish-1 li a:hover {
    background: transparent;
    color: #3618A0;
    font-weight: bold;
}

.questions a:last-child .inside_questions {
    margin-bottom: 50px;
}

.ready-block {
    text-align: center;
}
